<a href="https://colab.research.google.com/github/sudama-Inc/Predict-the-Business-License-Status/blob/main/testModelPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
from sklearn.metrics import classification_report

In [12]:
test_submission = pd.read_csv('https://raw.githubusercontent.com/sudama-Inc/Predict-the-Business-License-Status/main/final_submission.csv')
test_submission.head()

   Unnamed: 0                ID LICENSE STATUS
0           0    35342-20020816            AAC
1           1  1358463-20051116            AAC
2           2  1980233-20090722            AAI
3           3  1476582-20040211            AAI
4           4  1141408-20080516            AAC

In [16]:
df_test = test_submission.drop(['Unnamed: 0'], axis = 1)

In [17]:
df_test

                     ID LICENSE STATUS
0        35342-20020816            AAC
1      1358463-20051116            AAC
2      1980233-20090722            AAI
3      1476582-20040211            AAI
4      1141408-20080516            AAC
...                 ...            ...
28341    49056-20020216            AAI
28342  1519841-20041208            AAI
28343  1197383-20030516            AAI
28344  1121493-20050216            AAI
28345  2153066-20120504            AAC

[28346 rows x 2 columns]

In [18]:
df_test['LICENSE STATUS'] = df_test['LICENSE STATUS'].map({'AAI':0, 'AAC':1, 'REV':2, 'REA':3, 'INQ':4})
df_test

                     ID  LICENSE STATUS
0        35342-20020816               1
1      1358463-20051116               1
2      1980233-20090722               0
3      1476582-20040211               0
4      1141408-20080516               1
...                 ...             ...
28341    49056-20020216               0
28342  1519841-20041208               0
28343  1197383-20030516               0
28344  1121493-20050216               0
28345  2153066-20120504               1

[28346 rows x 2 columns]

In [19]:
# df_train = pd.read_csv('')

In [ ]:
# print(classification_report(df_train['LICENSE STATUS'], df_test['LICENSE STATUS']))