<a href="https://colab.research.google.com/github/sudama-Inc/Predict-the-Business-License-Status/blob/main/testModelPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
from sklearn.metrics import classification_report

In [22]:
test_submission = pd.read_csv('https://raw.githubusercontent.com/sudama-Inc/Predict-the-Business-License-Status/main/final_submission.csv')
test_submission.head()

   Unnamed: 0                ID LICENSE STATUS
0           0    35342-20020816            AAC
1           1  1358463-20051116            AAC
2           2  1980233-20090722            AAI
3           3  1476582-20040211            AAI
4           4  1141408-20080516            AAC

In [23]:
df_test = test_submission.drop(['Unnamed: 0'], axis = 1)

In [24]:
df_test

                     ID LICENSE STATUS
0        35342-20020816            AAC
1      1358463-20051116            AAC
2      1980233-20090722            AAI
3      1476582-20040211            AAI
4      1141408-20080516            AAC
...                 ...            ...
28341    49056-20020216            AAI
28342  1519841-20041208            AAI
28343  1197383-20030516            AAI
28344  1121493-20050216            AAI
28345  2153066-20120504            AAC

[28346 rows x 2 columns]

In [25]:
df_test['LICENSE STATUS'] = df_test['LICENSE STATUS'].map({'AAI':0, 'AAC':1, 'REV':2, 'REA':3, 'INQ':4})
df_test

                     ID  LICENSE STATUS
0        35342-20020816               1
1      1358463-20051116               1
2      1980233-20090722               0
3      1476582-20040211               0
4      1141408-20080516               1
...                 ...             ...
28341    49056-20020216               0
28342  1519841-20041208               0
28343  1197383-20030516               0
28344  1121493-20050216               0
28345  2153066-20120504               1

[28346 rows x 2 columns]

In [27]:
df_train = pd.read_csv('https://raw.githubusercontent.com/sudama-Inc/Predict-the-Business-License-Status/main/submission.csv')
df_train.head()

                 ID LICENSE STATUS
0  1516615-20120216            AAC
1    69813-20110616            AAC
2  1519227-20041116            AAI
3  1922025-20100816            AAC
4  1675683-20070816            AAC

In [28]:
df_train['LICENSE STATUS'] = df_train['LICENSE STATUS'].map({'AAI':0, 'AAC':1, 'REV':2, 'REA':3, 'INQ':4})
df_train

                     ID  LICENSE STATUS
0      1516615-20120216               1
1        69813-20110616               1
2      1519227-20041116               0
3      1922025-20100816               1
4      1675683-20070816               1
...                 ...             ...
57234  1743194-20070816               1
57235  2032383-20160716               1
57236    40376-20020216               0
57237  2064176-20121116               1
57238  1954052-20090202               0

[57239 rows x 2 columns]

In [32]:
df_train = df_train.iloc[:28346]

In [33]:
df_train

                     ID  LICENSE STATUS
0      1516615-20120216               1
1        69813-20110616               1
2      1519227-20041116               0
3      1922025-20100816               1
4      1675683-20070816               1
...                 ...             ...
28341  1592545-20110616               1
28342  1869422-20101116               0
28343  2114912-20160416               1
28344  2271550-20140701               1
28345  1545863-20071116               0

[28346 rows x 2 columns]

In [34]:
print(classification_report(df_train['LICENSE STATUS'], df_test['LICENSE STATUS']))

              precision    recall  f1-score   support

           0       0.38      0.65      0.48     10621
           1       0.46      0.36      0.40     12874
           2       0.16      0.00      0.00      4661
           3       0.00      0.00      0.00       189
           4       0.00      0.00      0.00         1

    accuracy                           0.41     28346
   macro avg       0.20      0.20      0.18     28346
weighted avg       0.38      0.41      0.36     28346

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))